@import url(https://fonts.googleapis.com/css?family=Pacifico);

body {
  background-image:
    url('https://marketplace.canva.com/EAD297uecnM/2/0/1600w/canva-rainbow-gradient-pink-orange-and-blue-zoom-virtual-background-VwJMC37j5jQ.jpg');
  background-size: auto 100vh;
  font-family: 'Pacifico';
  height: 100vh;
}

.menu ul {
  display: flex;
  justify-content: space-around;
}

.menu li {
  list-style: none;
}

a {
  color: #555555;
  text-decoration: none;
}

a:hover {
  color: blue;
  text-decoration: underline;
}

.site-subtitle,
.site-title {
  color: #555555;
  text-align: center;
}