@import url(https://fonts.googleapis.com/css?family=Pacifico);

/* soft reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image:
    url('../img/background-creditos-canva.png');
  background-size: auto 100vh;
  font-family: 'Pacifico';
  font-size: 10px;
  height: 100vh;
}

/* break point*/
@media (min-width: 400px) {
  body {
    font-size: 14px;
  }
}

header {
  display: flex;
  height: 100vh;
  align-items: center;  
  justify-content: center;
}

.menu{
  background-color: paleturquoise;
  position: fixed;
  top: 0;
  width: 100vw;
}

.menu ul {
  display: flex;
  justify-content: space-around;
}

.menu li {
  list-style: none;
}

.menu a {
  display: block;
  padding: 7.5px 20px;
}

a {
  color: #555555;
  text-decoration: none;
}

a:hover {
  color: blue;
  text-decoration: underline;
}

.site-subtitle,
.site-title {
  color: #555555;
  text-align: center;
}

.img-portfolio {
  height: auto;
  width: 180px;
}