/* soft reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(160, 223, 202);
  font-family: 'Source Code Pro', cursive;
  font-size: 12px;
  height: 100vh;
}

/* break point*/
@media (min-width: 500px) {
  body {
    font-size: 18px;
  }
}

@media (min-width: 900px) {
  body {
    font-size: 21px;
  }
}

header {
  background-image:
  url('../img/background-creditos-canva.png');
  background-size: auto 100vh;
  display: flex;
  height: 100vh;
  align-items: center;  
  justify-content: center;
}

.menu{
  background-color: paleturquoise;
  position: fixed;
  top: 0;
  width: 100vw;
}

.menu ul {
  display: flex;
  justify-content: space-around;
}

.menu li {
  list-style: none;
}

.menu a {
  display: block;
  padding: 7.5px 20px;
}

a {
  color: #555555;
  text-decoration: none;
}

a:hover {
  color: blue;
  text-decoration: underline;
}

.site-subtitle,
.site-title {
  color: #555555;
  font-family: 'Pacifico', cursive;
  text-align: center;
}

.portfolio {
  padding: 2em;
  height: 100vh;
}

.portfolio h2 {
  font-family: 'Baloo 2', cursive;
  color: #444444;
  margin-bottom: 0.5em;
}

.portfolio .grid {
  display: grid;
  gap: 1.5em;
  margin-bottom: 2.5em;
}

@media (min-width: 560px) {
  .portfolio .grid{
    align-content: center;
    grid-template-columns: 240px 240px;
    height: calc(100vh - 6em - 50.4px);
    justify-content: center;
  }
}

@media (min-width: 880px) {
  .portfolio .grid{
    align-content: center;
    grid-template-columns: repeat(3, 260px);
    height: calc(100vh - 6em - 50.4px);
    justify-content: center;
  }
}

.portfolio figure {
  text-align: center;
}

.img-portfolio {
  height: auto;
  width: 240px;
  border-radius: 10%;
}